@model  Equinor.ProjectExecutionPortal.WebApi.ViewModels.PortalIndexViewModel

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#ff1243">
    <meta name="msapplication-TileColor" content="#ff1243">
    <meta name="theme-color" content="#ffffff">
    <title>Fusion</title>

    <script>
        var fusionEnvironment = {
            name: '@Model.EnvironmentName', pullRequest: '@Model.PullRequestNumber'
        };
        var clientId = '@Model.ClientId';
        var domain = '@Model.Domain';
        var currentUpn = '@Model.Upn';
        var instrumentationKey = '@Model.InstrumentationKey';
        var portalRoles = [];
        var serviceEndpoints = @Html.Raw(Model.EndpointConfig);
        var fusionPortalClientId =  '@Model.FusionPortalClientId';
        var agGridLicenseKey =  '@Model.AgGridLicenseKey';
    </script>
</head>

<body>
    <div id="app">
        <!-- app -->
    </div>

    <div id="overlays">
        <!-- overlays -->
    </div>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
