@{
    ViewData["Title"] = "Fusion Project Portal";
}

@using Equinor.ProjectExecutionPortal.ClientBackend.Configurations
@using Microsoft.Extensions.Options
@inject IOptions<ClientBundleOptions> ClientBundleOptions;
@inject IOptions<FusionPortalApiOptions> FusionPortalApiOptions;
@inject IOptions<FusionProjectPortalApiOptions> FusionProjectPortalApiOptions;

@{
    var clientBundle = ClientBundleOptions.Value;
    var fusionPortalApi = FusionPortalApiOptions.Value;
    var fusionProjectPortalApi = FusionProjectPortalApiOptions.Value;
}

<div id="root"></div>

<script>
    var portalConfig = {
        "title": "@clientBundle.Title",
        "description": "@clientBundle.Description",
        "serviceDiscovery": {
            "client": {
                "baseUri": "@fusionPortalApi.BaseAddress",
                "defaultScopes": [
                    "@fusionPortalApi.Scope"
                ]
            }
        },
        "portalClient": {
            "client": {
                "baseUri": "@fusionProjectPortalApi.BaseAddress",
                "defaultScopes": [
                    "@fusionProjectPortalApi.Scope"
                ]
            }
        },
        "masal": {
            "client": {
                "tenantId": "@clientBundle.Msal!.TenantId",
                "clientId": "@clientBundle.Msal!.ClientId",
                "redirectUri": "@clientBundle.Msal!.RedirectUri"
            },
            "options": {
                "requiresAuth": true
            }
        },
        "logger": {
            "level": 0,
            "defaultClientLogger": {
                "active": false,
                "level": 0
            }
        }
    };

    window["_config_"] = portalConfig;

    console.log("PORTAL CONFIG", window["_config_"]);
</script>

<script type="module" src="~/portal-client-bundle-dev.js"></script>
